USE [Endava_1stHomework]
GO
/****** Object:  Table [dbo].[OSIGURUVANJE]    Script Date: 13-Mar-23 7:57:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OSIGURUVANJE](
	[VRABOTEN_ID] [int] NOT NULL,
	[DATUM] [date] NULL,
	[OSIGURUVANJE] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[VRABOTEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VRABOTENI]    Script Date: 13-Mar-23 7:57:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VRABOTENI](
	[VRABOTEN_ID] [int] NOT NULL,
	[IME] [varchar](25) NULL,
	[PREZIME] [varchar](25) NULL,
	[VOZRAST] [int] NULL,
	[POL] [varchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[VRABOTEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VRABOTENI_PLATA]    Script Date: 13-Mar-23 7:57:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VRABOTENI_PLATA](
	[VRABOTEN_ID] [int] NOT NULL,
	[RABOTNO_MESTO] [varchar](50) NULL,
	[PLATA] [int] NULL,
 CONSTRAINT [PK_VRABOTENI_PLATA] PRIMARY KEY CLUSTERED 
(
	[VRABOTEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[OSIGURUVANJE] ([VRABOTEN_ID], [DATUM], [OSIGURUVANJE]) VALUES (1610, CAST(N'2011-07-06' AS Date), N'DA')
INSERT [dbo].[OSIGURUVANJE] ([VRABOTEN_ID], [DATUM], [OSIGURUVANJE]) VALUES (1612, CAST(N'2013-01-24' AS Date), N'NE')
INSERT [dbo].[OSIGURUVANJE] ([VRABOTEN_ID], [DATUM], [OSIGURUVANJE]) VALUES (1613, CAST(N'2022-08-15' AS Date), N'DA')
GO
INSERT [dbo].[VRABOTENI] ([VRABOTEN_ID], [IME], [PREZIME], [VOZRAST], [POL]) VALUES (1610, N'DAVID', N'JORDANOSKI', 20, N'MAZ')
INSERT [dbo].[VRABOTENI] ([VRABOTEN_ID], [IME], [PREZIME], [VOZRAST], [POL]) VALUES (1612, N'FILIP', N'STOJANOVSKI', 18, N'MAZ')
INSERT [dbo].[VRABOTENI] ([VRABOTEN_ID], [IME], [PREZIME], [VOZRAST], [POL]) VALUES (1613, N'PETAR', N'PETROVSKI', 27, N'MAZ')
GO
ALTER TABLE [dbo].[VRABOTENI_PLATA]  WITH CHECK ADD  CONSTRAINT [FK_VRABOTENI_PLATA_OSIGURUVANJE] FOREIGN KEY([PLATA])
REFERENCES [dbo].[OSIGURUVANJE] ([VRABOTEN_ID])
GO
ALTER TABLE [dbo].[VRABOTENI_PLATA] CHECK CONSTRAINT [FK_VRABOTENI_PLATA_OSIGURUVANJE]
GO
ALTER TABLE [dbo].[VRABOTENI_PLATA]  WITH CHECK ADD  CONSTRAINT [FK_VRABOTENI_PLATA_VRABOTENI] FOREIGN KEY([VRABOTEN_ID])
REFERENCES [dbo].[VRABOTENI] ([VRABOTEN_ID])
GO
ALTER TABLE [dbo].[VRABOTENI_PLATA] CHECK CONSTRAINT [FK_VRABOTENI_PLATA_VRABOTENI]
GO
